apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: devops-backend:v1       # The image we just built
          imagePullPolicy: IfNotPresent  # IMPORTANT: Use local image, don't pull from internet
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
            - name: DATABASE_URL
              # This address points to the DB service we will create next
              value: "postgres://postgres:password@db:5432/todos"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000       # Internal Cluster Port
      targetPort: 5000 # Container Port
  type: ClusterIP      # Only accessible inside the cluster